<h1>Your cart</h1>
<% if @cart.empty? %>
  <p></p>
<% else %>
<%= link_to "Empty cart", cart_clear_path %>
<% end %>
<br><br><br>

<% total = 0 %>

<% @cart.each do |id, qty| %>
  <% product = Product.find_by_id(id) %>
  
  <ul>
  <li>
    <%= link_to product.name, product %>
    <p><%= product.desc %></p>
    <p><%= number_to_currency(product.price, unit: '$') %></p>
    <p>Quantity: <%= qty %></p>
  </li>
  </ul>

  <% total += qty*product.price %>
<% end %>

<b>Total: <%= number_to_currency(total, unit: '$') %></b>



